:root {
  --background: #b0bdff;
  --foreground: #171717;
  --gui: #8a9aea;
  --gui-hover: #8091e7;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10002a;
    --foreground: #ededed;
    --gui: #00175b;
    --gui-hover: #01207c;
  }
  html {
    color-scheme: dark;
  }
}

.page {
  display: flex;
  flex-direction: row;
  > * {
    height: 100vh;
    padding: 0.5em;
  }
}

.sidebar {
  width: 10em;
  padding: 0;
  margin: 0;
  background-color: var(--gui);
  a {
    display: block;
    padding: 0.5em;
  }
  a:hover {
    background-color: var(--gui-hover);
  }
}

form * {
  margin: 0.3em;
}